

/*
body, .container, .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    border: white 1px solid;
}
*/


html, body {
    font-family: "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    color: #333;
    height: 100%;
}
h1, h2, h3, h4, h5 {
    color: rgb(103,94,92);
    font-weight: normal;
}
#mapholder {
}
.fill {
    height: 100%;
}
.fill90 {
    height: 90%;
}
.voffset5 {
    margin-top: 5%;
}
a, a:hover {
    color: #333;
}
.thumbnail_person{
/*
    border-radius: 3px 3px 3px 3px;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    float: left;
*/
}
.person_name{
/*     font-weight: bold; */
}

.person_info{
    border-radius: 3px 3px 3px 3px;
    margin: 3px;
    overflow:hidden;
    background : none repeat scroll 0 0 #FFFFFF;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    list-style:none outside none
}

.container-desktop {
    margin-top: 40px;
}